.contacts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2.6rem 0 3.9rem;
  border-top: 0.2rem solid $hr-color;

  @media (width <= 1199px) {
    padding-bottom: 4.4rem;
  }

  @media (width <= 759px) {
    flex-wrap: wrap;
    padding-bottom: 2.5rem;
    gap: 2.7rem 1vw;

    &__contact {
      width: 46.5%;
      text-align: center;
    }
  }

  @media (width <= 599px) {
    row-gap: 2.65rem;
    padding-bottom: 2.4rem;

    &__contact {
      width: 100%;
    }
  }
}

.contact {
  &__title {
    padding-bottom: 1rem;
    text-transform: none;
  }

  &__link {
    font-weight: 400;
    color: $main-text-color;
    text-decoration: none;

    &:hover {
      color: $mark-color;
    }
  }
}

.contact-section {
  &__contacts {
    padding-top: 0;
    padding-bottom: 5.9rem;
    border-top: none;
    border-bottom: 0.2rem solid $hr-color;
  }

  &__description {
    padding-top: 6.3rem;
  }

  .personal__descr-text {
    padding-top: 12.2rem;
  }

  .personal__name {
    font-size: 5.4em;
  }

  .socials {
    padding-bottom: 0;
  }

  .personal__position {
    display: none;
  }

  @media (width <= 1199px) {
    &__contacts {
      padding-bottom: 4.5rem;
    }

    &__description {
      padding-top: 4.6rem;
    }

    .personal__descr-text {
      padding-top: 8.8rem;
    }

    .personal__name {
      font-size: 4.37em;
    }
  }

  @media (width <= 1023px) {
    &__contacts {
      padding-bottom: 4.4rem;
    }
  }

  @media (width <= 759px) {
    &__contacts {
      padding-bottom: 2.5rem;
    }

    &__description {
      padding-top: 2.6rem;
    }

    .contacts__contact {
      text-align: left;
    }
  }

  @media (width <= 599px) {
    &__contacts {
      padding-bottom: 2.4rem;
    }

    .contact-section__header {
      padding-bottom: 3.1rem;
    }

    .personal__descr-text {
      padding-top: 4.9rem;
    }

    .personal__wrapper {
      flex-direction: column;
      align-items: start;
      row-gap: 2.4rem;
    }
  }
}
