.footer {
  padding: 1rem 0;
  font-size: 1.6em;
  background-color: $section-even-descript-backgrnd-color;

  &__wrapper {
    display: flex;
    justify-content: space-evenly;
  }

  @media (width <= 1023px) {
    background-color: $hr-color;
  }
}
