@import "variables";

.header {
  &__wrapper {
    height: 100vh;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 11.7rem;
  }

  &__photo {
    height: auto;
    object-fit: contain;
    border-radius: 50%;
  }

  &__descr-wrapper {
    height: 100%;

    & > * {
      align-self: end;
    }
  }

  @media (width >= 1200px) {
    &__description {
      padding-bottom: 2.2rem;
    }

    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 35%;
      min-width: 35.49rem;
      max-width: 38.28rem;
      padding-bottom: 11.7rem;
    }

    &__photo {
      width: 100%;
      max-width: 23.58rem;
    }
  }

  @media (width <= 1199px) {
    &__description {
      padding-bottom: 0;
    }

    &__header {
      max-width: 35.97rem;
    }

    &__photo {
      width: 19.6rem;
    }
  }

  @media (width <= 1023px) {
    &__photo {
      margin: 0 auto;
    }

    &__header {
      max-width: unset;
      padding-bottom: 0;
      background-color: $section-even-descript-backgrnd-color;
      border: unset;
    }

    &__wrapper {
      height: auto;
    }

    &__description {
      width: 100%;
      padding-top: 2.45rem;
    }

    .personal__wrapper {
      flex-direction: column;

      & > * {
        align-self: center;
      }
    }

    .personal__descr-text {
      padding-top: 0;
      text-align: center;
    }
  }

  @media (width <= 759px) {
    &__photo {
      width: 15.4rem;
    }
  }
}
