
.interactive {
  position: relative;
  transition: transform 1.2s ease 0.7s, opacity 1.2s ease 0.7s;

  &_unactive {
    transform: translateY(2rem) scale(0.9);
    visibility: hidden;
    opacity: 0;
  }

  &_active {
    transform: translateY(0) scale(1);
    visibility: visible;
    opacity: 1;
  }
}
