@import "reset";
@import "fonts";
@import "common";
@import "variables";
@import "header";
@import "skills";

.article-block {
  &__header {
    text-align: right;
  }

  &__subtitle {
    padding-top: 1.4rem;
    font-size: 1.4em;
    line-height: 0.75;
  }

  &__text {
    font-size: 1.71em;

    &:not(:nth-last-child(1)) {
      padding-bottom: 1.1em;
    }
  }

  &__link {
    color: $mark-color;
    text-decoration: none;

    &:hover {
      color: $active-link;
    }
  }

  @media (width <= 1023px) {
    &__header {
      text-align: inherit;
    }
  }

  @media (width <= 599px) {
    &__text {
      font-size: 1.4em;
    }
  }
}

.evolution-ul {
  display: flex;
  flex-direction: column;
  margin-left: 1.2rem;
  padding: 0.4rem 0 0.4rem 2.5rem;
  border-left: 0.2rem solid $hr-color;

  &__item {
    display: block;
  }
}

.article-li {
  display: grid;
  grid-template-columns: 37.7% 1fr;
  column-gap: 4.9rem;

  &__header {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 2 / 2;
  }

  &__period {
    order: -1;
    font-size: 0.98em;
  }

  &__position {
    font-size: 1.12em;
    color: $title-color;
  }

  &__location {
    font-size: 0.98em;
  }

  &__text {
    font-size: 1.4em;
  }
}

// Make element visible


// &__fname {
//   transform: translateY(0) scale(1);
//   transition: transform 1.2s ease 0.7s, opacity 1.2s ease 0.7s;

//   &_unactive {
//     visibility: hidden;
//     opacity: 0;
//   }

//   &_active {
//     visibility: visible;
//     opacity: 1;
//   }
// }

// own
