$active-link: #e0a707;
$hr-color: #ececec;
$main-text-color: #939393;
$mark-color: #f8bb10;
$portfolio-font-color: #3a3a3a;
$portfolio-hr-color: #535353;
$section-even-descript-backgrnd-color: #ffffff;
$section-even-head-backgrnd-color: #fbfbfb;
$section-odd-descript-backgrnd-color: #fcfcfc;
$section-odd-head-backgrnd-color: #f8f8f8;
$section-odd-head-backgrnd-mob-color: #fafafa;
$socials-color: #ededed;
$title-color: #727272;
$font: "Lato", "Arial", "Helvetica", sans-serif;
