$active-link: #e0a707;
$hr-color: #ececec;
$main-text-color: #939393;
$mark-color: #f8bb10;
$portfolio-font-color: #3a3a3a;
$portfolio-hr-color: #535353;
$section-even-descript-backgrnd-color: #ffffff;
$section-even-head-backgrnd-color: #fbfbfb;
$section-odd-descript-backgrnd-color: #fcfcfc;
$section-odd-head-backgrnd-color: #f8f8f8;
$section-odd-head-backgrnd-mob-color: #fafafa;
$socials-color: #ededed;
$title-color: #727272;
$font: "Roboto", "Arial", "Helvetica", sans-serif;
$dark-body-color: #979899;
$dark-main-text-color: #979899;
$dark-title-color: #a4a5a6;
$dark-section-even-head-backgrnd-color: #2b2c2c;
$dark-section-even-descript-backgrnd-color: #2d2e2e;
$dark-section-odd-head-backgrnd-color: #292a2a;
$dark-section-odd-descript-backgrnd-color: #2b2c2c;
$dark-mark-color: #e0a80d;
$dark-hr-color: #404242;
$dark-socials-color: #3f4040;
$dark-socials-color-active: #323333;
$dark-active-link: #fefaee;
