@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url(./assets/fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url(./assets/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url(./assets/fonts/Roboto-Medium.ttf);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body {
  margin: 0;
}

.body__title,
.header__title,
.contacts__title {
  display: none;
}

.section {
  display: flex;
}

.section__header {
  flex-grow: 2.6;
}

.section-header__odd {
  background-color: #fbfbfb;
}

.section__descr {
  flex-grow: 5;
}

.header {
  height: 100vh;
  font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section-header__wrapper {
  max-width: 38.3rem;
  width: 100%;
  padding: 6.1rem 7.4rem;
}

.header__photo {
  display: flex;
  align-items: center;
  justify-content: end;
}

.photo {
  width: 23.6rem;
  height: 23.6rem;
  border-radius: 50%;
  background-color: red;
  position: relative;
  bottom: 3rem;
}

.header__name {
  font-size: 6.72em;
  line-height: 0.9;
}

.header__fname {
  font-weight: 300;
  color: #939393;
  letter-spacing: -0.04em;
}

.header__lname {
  font-weight: 500;
  text-transform: uppercase;
  color: #F8BB10;
  letter-spacing: 0.06em;
}

.header__position {
  font-size: 2.1em;
  letter-spacing: 0.01em;
  font-weight: 100;
  position: relative;
  top: 1.2em;
  left: 0.2em;
}

.section-descr__wrapper {
  width: 100%;
  max-width: 89.4rem;
  padding: 6.1rem 7.4rem;
}

.header__descr-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__descr-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts {
  display: flex;
  justify-content: space-between;
  border-top: 0.2rem solid #ececec;
  width: 100%;
}

.contact {
  font-size: 1.4em;
}

.contact__title {
  font-weight: 500;
  color: #727272;
}

.contact__descr {
  font-weight: 400;
  color: #939393;
}