@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.ttf);
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body__title,
.header__title,
.contacts__title {
  display: none;
}

.title {
  font-weight: 500;
  color: #727272;
  line-height: 3.2;
}

.text {
  color: #939393;
  font-weight: 400;
  font-size: 1.4em;
}

.header {
  height: 100vh;
}

.header__photo {
  align-items: center;
}

.photo {
  width: 23.6rem;
  height: 23.6rem;
  border-radius: 50%;
  background-color: red;
  position: relative;
  bottom: 3rem;
  right: 0.1rem;
}

.header__name>* {
  font-size: 6.72em;
  line-height: 0.9;
}

.header__fname {
  font-weight: 300;
  letter-spacing: -0.04em;
}

.header__lname {
  font-weight: 500;
  text-transform: uppercase;
  color: #F8BB10;
  letter-spacing: 0.05em;
}

.header__position {
  font-size: 2.1em;
  letter-spacing: 0.014em;
  font-weight: 100;
  position: relative;
  top: 2.1rem;
  left: 0.2rem;
}

.header__descr-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__descr-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.contacts {
  display: flex;
  justify-content: space-between;
  border-top: 0.2rem solid #ececec;
  width: 100%;
  padding-top: 1.5rem;
}

.contact {
  font-size: 1.4em;
}

.contact__title {
  line-height: 3.2;
}

.contact__descr {
  font-weight: 400;
  color: #939393;
}

.section {
  display: flex;
  width: 100%;
}

.section__header {
  display: flex;
  justify-content: end;
  width: 58.3vw;
}

.section__descr {
  width: 100%;
}

.section__descr_even {
  background-color: #fcfcfc;
}

.section__header_odd {
  background-color: #fbfbfb;
}

.section__header_even {
  background-color: #f8f8f8;
}

.section__header-wrapper {
  width: 38.3rem;
  padding: 4.5rem 7.4rem;
  text-align: right;
}

.section__descr-wrapper {
  padding: 6.1rem 7.4rem;
  max-width: 89.4rem;
}

.section__title {
  font-size: 1.8em;
}

.section__subtitle {
  line-height: 0.5;
  letter-spacing: -0.02em;
}

.section__text {
  font-size: 1.6em;
  letter-spacing: 0.02em;
  line-height: 1.9;
  padding-bottom: 1.1em;
}